<div class="container">
	<h2 class="social-links mt-3 text-center">Contactez-nous !</h2>
	<div class="social-links mt-3 text-center">
		<a href="{{ path('contact')}}">
			<i class="fa fa-envelope-open" aria-hidden="true"></i>
		</a>
		<a class="ic-lin" href="">
			<i class="fab fa-linkedin-in"></i>
		</a>
		<a class="ic-twit" href="">
			<i class="fab fa-twitter"></i>
		</a>
	</div>

	<div class="copyright">
		<p>&copy; Copyright 2021
			<strong>
				<span>
					<a href="{{ path('home') }}">E-Concept Store</a>
				</span>
			</strong>
		</p>
	</div>
</div>
