<!DOCTYPE html>
<html>
	<head>
		{% include "includes/_head.html.twig" %}
		<link rel="stylesheet" type="text/scss" href="{{ asset('scss/pages/style_home.scss') }}">
	</head>
	<body id="body">
		{% include "includes/_header.html.twig" %}

		<div>
			{% block body %}{% endblock %}
			<a href="#body" class="scroll-to-top-link">scroll to top</a>
		</div>

		<footer id="footer">

			{% include "includes/_footer.html.twig" %}
			{% block footer%}{% endblock %}
		</footer>

		{% include "includes/_script.html.twig" %}
		{% include "includes/_scroll-to-top_js.html.twig" %}
	</body>
</html>
